In [2]:
import pandas as pd
import numpy as np

In [3]:
data = {
    'Dataset': ['Adiac', 'Beef', 'Car', 'CBF', 'Coffee', 'DiatomSizeReduction', 'ECG200', 'ECGFiveDays', 'FaceFour', 'GunPoint', 'Lightning2', 'Lightning7', 'MoteStrain', 'OliveOil', 'SonyAIBORobotSurface1', 'SonyAIBORobotSurface2', 'SyntheticControl'],
    'RafaelAccuracy': [0.790281, 0.833333, 0.683333, 0.874444, 1.000000, 0.924837, 0.910000, 0.994193, 0.534091, 0.980000, 0.836066, 0.273973, 0.750000, 0.633333, 0.843594, 0.895068, 0.946667],
    'VictorAccuracy': [0.841432, 0.900000, 0.866667, 0.887778, 1.000000, 0.843137, 0.870000, 1.000000, 0.863636, 0.920000, 0.754098, 0.726027, 0.872204, 0.933333, 0.815308, 0.883526, 0.966667]
}
df = pd.DataFrame(data)

df['Vencedor'] = df.apply(lambda row: 'Victor' if row['VictorAccuracy'] > row['RafaelAccuracy'] else ('Rafael' if row['VictorAccuracy'] < row['RafaelAccuracy'] else 'Empate'), axis=1)

contagem = df['Vencedor'].value_counts()

print("Vitórias, Derrotas e Empates:")
print(contagem)

print("\nResultado por Dataset:")
print(df[['Dataset','Vencedor']])

Vitórias, Derrotas e Empates:
Vencedor
Victor    10
Rafael     6
Empate     1
Name: count, dtype: int64

Resultado por Dataset:
                  Dataset Vencedor
0                   Adiac   Victor
1                    Beef   Victor
2                     Car   Victor
3                     CBF   Victor
4                  Coffee   Empate
5     DiatomSizeReduction   Rafael
6                  ECG200   Rafael
7             ECGFiveDays   Victor
8                FaceFour   Victor
9                GunPoint   Rafael
10             Lightning2   Rafael
11             Lightning7   Victor
12             MoteStrain   Victor
13               OliveOil   Victor
14  SonyAIBORobotSurface1   Rafael
15  SonyAIBORobotSurface2   Rafael
16       SyntheticControl   Victor

In [49]:
df.style.text_gradient(axis=1, low=0.10, high=1.5, cmap="Greens")